# ===============================
# Java
# ===============================
*.class

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# Build / Output folders
# ===============================
bin/
out/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db
